body{
	background-color:#ccc;
}
.bleu{
	text-align:center;
	color:blue;
}
a{
	color:blue;
	text-decoration:none;
	font-size:20px;
}
#bleu{
	text-align:center;
}
#fieldset1{
	margin-left:200px;
	margin-right:200px;
}
