body{
	background-color:RGBa(32, 40, 90, 0.7);
	/* animation-name: jeu; */
	/* animation-duration:900s; */
	/* animation-timing-function:ease; */
	/* animation-iteration-count:infinite; */
}
/* @keyframes jeu{ */
	/* 0%{background-color:RGBa(32, 40, 90, 0.7);} */
	/* 10%{background-color:green;} */
	/* 20%{background-color:red;} */
	/* 30%{background-color:yellow;} */
	/* 40%{background-color:blue;} */
	/* 50%{background-color:gray;} */
	/* 60%{background-color:pink;} */
	/* 70%{background-color:RGB(32, 40, 90);} */
	/* 80%{background-color:orange;} */
	/* 90%{background-color:purple;} */
	/* 100%{background-color:red;} */
/* } */
div{
	background-color:RGB(32, 40, 90);
	display:block;
	padding-left:2%;
	margin-left:35%;
	margin-right:35%;
	margin-top:10%;
	height:600px;
	box-shadow:0px 0px 12px black;
	color:white;
}
.input{
	width:90%;
	height:25px;
}
span{
	color:red;
}
#valider{
	background-color:RGB(173, 20, 87);
	border-color:RGB(173, 20, 87);
	color:white;
	height:30px;
	font-size:18px;
}
a{
	text-decoration:none;
	color:blue;
}

/* body{ */
	/* background-color:#ccc; */
/* } */
/* div{ */
	/* background-color:red; */
	/* display:table */
/* } */
/* h1{ */
	/* color:#0102ff; */
	/* font-family: calibri; */
/* } */
/* #titre{ */
	/* text-align:center; */
	
/* } */
/* .small_titre{ */
	/* font-size:20px; */
/* } */
/* #centre{ */
	/* display:block; */
	/* width:400px; */
	/* border: 1px solid gray; */
	/* border-radius:20px; */
	/* margin-left:40%; */
	/* margin-right:50%; */
	/* margin-top:50px; */
/* } */
/* #valider{ */
	/* background-color:#00ff70; */
/* } */
/* #annuler{ */
	/* background-color:#f00000; */
/* } */
/* #connecte{ */
	/* font-size:20px; */
	/* text-decoration:none; */
	/* color:blue; */
/* } */
/* #conecte{ */
	/* text-align:center; */
/* } */
/* #mailError{ */
	/* text-align:center; */
	/* color:red; */
/* } */
input:required{
	/* background:url(asterisk.png) 98% no-repeat; */
}
input:focus:invalid{
	border-color:red;
	background-image:none;
	box-shadow:0px 0px 5px #d45252;
}
input:focus:valid{
	border-color:#00ff70;
	/* background:url(valid.png) 96% no-repeat; */
	box-shadow:0px 0px 5px #00ff30;
	}
input:focus:invalid + span.#mot{
	display:block;
	color:#ff0000
}
